.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 95vw;
  height: 90vh;
  background-color: rgb(30, 25, 37);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.headerIconWrapper {
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 5px 6px;
  background-color: rgb(65, 52, 82);
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #a69db9;
  display: flex;
  align-items: center;
  gap: 10px;
}

.close {
  position: absolute;
  display: flex;
  cursor: pointer;
  top: 10px;
  padding: 3px;
  border-radius: 8px;
  right: 10px;
  transition: background-color 300ms;
}

.close:hover {
  background-color: rgb(51, 42, 63);
}

.contentGrid {
  display: grid;
  grid-template-columns: min(35%, 510px) 1fr;
  height: 100%;
  overflow: hidden;
}

.form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 15px;
}

.actionRow {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (min-width: 1500px) {
  .actionRow {
    flex-direction: row;
    gap: 10px;
  }
}

.editorPanel {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  overflow-y: auto;
}

.codeEditorWrapper {
  flex: 1;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  overflow: hidden;
  min-height: 400px;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(144, 92, 192);
  color: #11111b;
  border: none;
  width: 100%;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 600;
  padding: 12px;
  cursor: pointer;
  transition: background-color 300ms;
}
