.menuContent {
  min-width: 150px;
  background-color: #24202b;
  border-radius: 6px;
  padding: 6px;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);

  transform-origin: var(--radix-dropdown-menu-content-transform-origin);
  animation: slideUpAndFade 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.menuLabel {
  padding: 8px 12px 4px;
  font-size: 0.8em;
  font-weight: 700;
  color: #949ba4;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.menuSeparator {
  height: 1px;
  background-color: #35363c;
  margin: 4px 6px;
}

.menuItem {
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 12px;
  font-size: 14px;
  gap: 8px;
  overflow: hidden;
  color: #dbdee1;
  border-radius: 4px;
  user-select: none;
  outline: none;
  transition: background-color 0.1s;
  cursor: pointer;
}

.menuItem[data-highlighted] {
  background-color: #58457c;
}

.menuItemDanger {
  color: #ef8f8f;
}

.menuItemDanger[data-highlighted] {
  background-color: rgba(166, 57, 57, 0.22);
  color: #ffabab;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemLabel {
  flex: 1;
}

.menuArrow {
  fill: #24202b;
}

/* Animations */
@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
